body{
    margin:0;
    padding:0;
}

.header{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #1F2937;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    color: #F9FAF8;
    font-size: 24px;
    margin-left:15%;

}

nav > ul{
    color:#F9FAF8;
    list-style: none;
    display: flex;
    gap: 15px;
    margin-right: 15%;
}