body{
    margin:0;
    padding:0;
}

.header{
    
    background-color: #1F2937;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 45px;   
    margin-bottom:0px;
   
   
}

.header_logo{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #F9FAF8;
    font-size: 30px;
}

.header_logo a{
    text-decoration: none;
    color:#F9FAF8;
}

.navigation{
    color:#F9FAF8;
    list-style: none;
    text-decoration: none;
    display: flex;
    /*gap: 15px;*/
    
    
}

.navigation li{
    margin-left:20px;
}

.navigation a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*display: block;*/
    /*padding: 1em;*/
    color: #E5E7EB;
    text-decoration: none;
    display: block;  
    transition: all 0.3s ease-out;
  }

.navigation a:hover {
    color:#F9FAF8;
    transform: scale(1.1);
    
}

.hero{
    padding: 45px 45px;
    margin-top: 0;
    background-color: #1F2937;
    color:#F9FAF8;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.hero_text{
    width:50%;
    margin-right: 20px;
}

.hero h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:32px;
}

.hero p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #E5E7EB;
}

.hero a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #3882F6;
    text-decoration: none;
    color: #E5E7EB;
    padding:5px;
    border-radius: 5px;
}

.hero img{
    width:300px;
}


    
}